@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* @font-face {
  font-family: Break;
  src: url("/font/Break Bold.ttf");
} */

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
  }

  html,
  body {
    @apply min-h-full text-white/70;
    font-family: "微軟正黑體", "Microsoft JhengHei", sans-serif;
  }
}

@layer components {
  #universe {
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
  }
}

.notion-page-cover-wrapper {
  @apply !hidden;
}

.notion-header {
  @apply !hidden;
}

.notion-header-anchor {
  /* scrollMarginTop */
  scroll-margin-top: 50px;
}

/* .notion-page {
  @apply !w-full !p-0;
} */

.notion-code {
  min-height: 70px;
  @apply !flex items-center !rounded-xl;
}
